.current_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: larger;
  padding-top: 9vh;
  max-width: 90%;
}

.current_card img {
  max-width: 30%;
  margin: 10px;
}

.current_card button {
  font-size: large;
}
