.product_card {
  background-color: rgba(81, 168, 255, 0.5);
  color: rgb(50, 50, 50);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_card p {
  margin: 4px;
}

.product_card button {
  width: 50%;
}

.cardtext {
  background: rgba(255, 255, 255, 0.7);
  height: 120px;
  width: 400px;
  max-width: 99%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardimage_div {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cardimage {
  max-width: 99%;
  max-height: 99%;
}
